/.idea/
/rest-java/.idea/
/rest-java/out/
/rest-java/.gradle/
/rest-java/gradle/
/rest-kotlin/.idea/
/rest-kotlin/out/
/rest-kotlin/.gradle/
/rest-kotlin/build/
/rest-kotlin/gradle/
/rest-scala/.idea/
/rest-scala/target/
/rest-node-koa/node_modules/
/rest-node-koa/.idea/
/rest-node-koa/dest/
/soap-java/out/
/soap-java/.gradle/
/soap-java/.idea/
/soap-java/gradle/
/soap-java/build/
/graphql-typescript/node_modules/
